{% block stylesheet %}
<link rel="stylesheet" href="{{ assets('/assets/css/loader.css') }}" />
{% endblock %}

<div class="loader-wrapper" id="loader">
    <span class="loader"><span class="loader-inner"></span></span>
</div>

