<div class="container-fluid">
    <footer class="row py-4 my-5 border-top">

      <div class="col mb-3">
        <h5>Liens</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Accueil</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Nos événements</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Qui sommes-nous ?</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Dons</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Contact</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Inscription / Connexion</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Mentions Légales</a></li>
        </ul>
      </div>
  
      <div class="col mb-3">
        <h5>Nos horaires</h5>
        <ul class="nav flex-column">
            <li class="nav-item mb-2 text-body-secondary">Lundi 09:00-19:30</li>
            <li class="nav-item mb-2 text-body-secondary">Mardi 09:00-19:30</li>
            <li class="nav-item mb-2 text-body-secondary">Mercredi 09:00-19:30</li>
            <li class="nav-item mb-2 text-body-secondary">Jeudi 09:00-19:30</li>
            <li class="nav-item mb-2 text-body-secondary">Vendredi 09:00-19:30</li>
            <li class="nav-item mb-2 text-body-secondary">Samedi 09:00-19:30</li>
            <li class="nav-item mb-2 text-body-secondary">Dimanche 09:00-12:30</li>
        </ul>
      </div>
  
      <div class="col mb-3">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
        </ul>
      </div>

      <div class="">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10447.130077723144!2d6.1680357!3d49.1097719!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4794dc0600ab2253%3A0x5b6ac954f3be2ad3!2sEpicerie%20Mozart!5e0!3m2!1sfr!2sfr!4v1678187938277!5m2!1sfr!2sfr"
          width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

    </footer>
  </div>