{% extends "admin.layout.html.twig" %}
{% block stylesheet %}
<link rel="stylesheet" href="{{ absolute(assets('assets/css/addInter.css')) }}">
{% endblock %}
{% block body %}

<div class="container my-5 text-center d-flex flex-column align-items-center">

    <h2 class="border rounded-4 bg-white my-5">Ajouter un intervenant</h2>

    <form method="POST" action="" class="card p-4 my-2" style="max-width: 500px;" enctype="multipart/form-data">

        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Nom de l'intervenant</span>
            <input type="text" name="nom" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm">
        </div>

        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Prénom de l'intervenant</span>
            <input type="text" name="prenom" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm">
        </div>

        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Rôle de l'intervenant</span>
            <input type="text" name="role" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm">
        </div>


        <input type="submit" value="Ajouter" class="border border-warning rounded-4 bg-warning">
    </form>

</div>
{% endblock %}