{% extends "admin.layout.html.twig" %}
{% block title %}
<title>Admin - Home</title>
{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{{ absolute(assets('assets/css/adminHome.css')) }}" />
{% endblock %}
{% block body %}



<div class="container text-center d-flex flex-column">
    <h1 class="my-5 text-underline">Bienvenue Administrateur !</h1>
    <p class="fs-1">Cette page permet de gérer les événements ainsi que les intervenants <span class="text-danger">Attention toute suppression est définitive !</span> </p>
</div>

{% endblock %}