{% extends "admin.layout.html.twig" %}
{% block title %}
<title>Admin - Login</title>
{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{{ absolute(assets('assets/css/adminLogin.css')) }}" />
{% endblock %}
{% block body %}
<!-- La méthode POST
    récupére le 'name' de l'input enctype="multipart/form-data" permet de récuperer l'image envoyer // Obligatoire pour
    récupérer un fichier -->


<div class="container d-flex flex-column align-items-center text-center">
    <h2 class="border rounded-4 bg-white my-5">Connexion à la page Administrateur</h2>
    <form method="POST" action="" class="card p-4" style="max-width: 500px;">
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Votre e-mail</span>
            <input type="text" name="mail" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm">
        </div>


        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Mot de passe</span>
            <input type="password" name="mdp" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm">
        </div>

        <input type="submit" value="Se connecter" class="border border-warning rounded-4 bg-warning">
    </form>
</div>
{% endblock %}