h2 {
    font-family: 'Satisfy', cursive;
    width: 20%;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
}

footer {
    margin-top: 16%;
}

@media screen and (max-width:780px) {
    h2 {
        width: 70%;
    }

    iframe {
        margin-top: 10%;
    }

    footer {
        margin-top: 0vh !important;
    }

    form .submit {
        margin-top: 20% !important;
    }

    .col-sm-3 {
        margin-top: 15% !important;
    }
}