h2 {
    font-family: 'Satisfy', cursive;
    width: 40%;
}

footer {
    margin-top: 3%;
}

@media screen and (max-width:780px) {
    p {
        margin-top: 10%;
    }

    img {
        width: 100% !important;
    }

    footer {
        margin-top: 0vh !important;
    }

    h2 {
        width: 80%;
    }

    .bg-white {
        margin-top: 10%;
    }
}