/* Ancienne Version en Tableau */

table {
    border: solid;
    height: 75dvh;
    width: 80dvw;
    border-collapse: collapse;
}

thead {
    border: solid black;
    background-color: gray;
}

button {
    margin-top: 3%;
    margin-bottom: 3%;
}

tr {
    border: solid;
}

td {
    border: solid rgb(128, 128, 128);
}

tr:nth-child(even) {
    background-color:hsl(168, 10%, 90%);
}

th {
    border: solid gray;
}

span {
    color: white;
}

h5 {
    font-family: 'Satisfy', cursive;
}

/* Fin Ancienne Version en Tableau  */

body {
    background: linear-gradient(90deg, #c0d7d2, hsl(169, 23%, 98%));
}

h2 {
    width: 30%;
    font-family: 'Satisfy', cursive;
}

footer {
    margin-top: 17%;
}

@media screen and (max-width:780px) {
    footer ul {
        display: block !important;
    }

    footer p {
        margin-top: 3%;
    }

    h2 {
        width: 70% !important;
    }

    footer {
        margin-top: 0vh !important;
    }

    .border-top {
        border-color: black !important;
    }
}