/* Ancienne Version en Tableau */

table {
    border: solid;
    height: 75vh;
    width: 80vw;
}

thead {
    color: black;
    border: solid;

}

tr {
    border: solid;
}

td {
    border: solid;
}

th {
    border: solid;
}

h5 {
    font-family: 'Satisfy', cursive;
}

/* Ancienne Version en Tableau  */

body {
    background: linear-gradient(90deg, #c0d7d2, hsl(169, 23%, 98%));
}

h2 {
    width: 30%;
    font-family: 'Satisfy', cursive;
}

@media screen and (max-width:780px) {
    footer ul {
        display: block !important;
    }

    footer p {
        margin-top: 3%;
    }

    h2 {
        width: 70% !important;
    }

    footer {
        margin-top: 0vh !important;
    }
}