@media screen and (max-width:780px) {
    footer p {
        display: none;
    }

    #logo {
        display: none;
    }
}

.border-top {
    border-color: gray!important;
}

#logo:hover {
    transform: scale(1.1);
}

p {
    user-select: none;
}