@media screen and (max-width:780px) {
    footer p {
        display: none;
    }

    #logo {
        display: none;
    }
}

.border-top {
    border-color: gray!important;
}

p {
    user-select: none;
}