* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Ne pas oublier de modifier l'url pour récupérer les images (Supprimer /public pour passez directement à /assets) */
body {
    background: linear-gradient(90deg, #c0d7d2,hsl(169, 23%, 98%));
}

header li {
    font-family: 'Josefin Sans', sans-serif;
}

.bloc1 {
    height: 80vh;
}

.welcome-pic {
    background-image: url(/assets/img/toto3.jpg);
    background-position: center;
    background-size: cover;
    font-family: 'Satisfy', cursive;
}

.welcome-text {
    margin-top: 60%;
}

.link-cuisine {
    height: 25%;
    background-image: url(/assets/img/loaf-gacbb6d202_1920.jpg);
    background-position: center;
    background-size: cover;
    font-family: 'Satisfy', cursive;
}

.link-coiffure {
    height: 25%;
    background-image: url(/assets/img/barber-gb2ae370d6_1920.jpg);
    background-position: center;
    background-size: cover;
    font-family: 'Satisfy', cursive;
}

.link-doc {
    height: 25%;
    background-image: url(/assets/img/pexels-karolina-grabowska-4386466.jpg);
    background-position: center;
    background-size: cover;
    font-family: 'Satisfy', cursive;
}

.linkedin-link {
    font-family: 'Josefin Sans', sans-serif;
    width: 80%;
}

.facebook-link {
    font-family: 'Josefin Sans', sans-serif;
    width: 80%;
}

.text-activity {
    margin-top: 16%;
}

.text-josefin {
    font-family: 'Josefin Sans', sans-serif;
}

.test {
    height: 90vh;
}

/* Ici commence la deuxième partie de ma page principale (Partie Gauche) */

.index-bottom-bloc {
    height: 90vh;
}

.bloc2 {
    background-image: url(/assets/img/portrait-agriculteur-tenant-caisse-pleine-fruits-fraises-serre.jpg);
    background-position: center;
    background-size: cover;
    font-family: 'Satisfy', cursive;
    height: 85vh;
}

.bloc-actu {
    font-family: 'Josefin Sans', sans-serif;
    width: 90%;
}

.welcome-text2 {
    width: 60%;
}

.welcome-pic2 {
    margin-top: 35%;
}

/* Ici commence le FOOTER */

.bloc-footer {
    background-color: #FFFCCF;
}

footer {
    height: 15vh;
}

.nav-link:hover {
    color: red;
}

@media screen and (max-width:780px) {
    .welcome-pic {
        margin: 0 auto;
        width: 90%;
    }

    .welcome-text {
        font-size: 20px !important;
    }

    .bloc2 {
        margin: 2% 5% 0%;
        width: 90%;
        display: block !important;
        background-position: 30%;
        height: 80vh;
    }

    footer {
        margin-top: 75vh;
        height: 15vh;
    }

    .welcome-text2 {
        font-size: 16px !important;
        margin-top: 80%;
        margin-left: 20%;
    }

    footer ul {
        display: block !important;
    }
}

@media screen and (max-width: 1200px) and (min-width: 750px){
    a.nav-link {
        font-size: 1rem !important;
    }
}