h2 {
    width: 30%;
    font-family: 'Satisfy', cursive;
}

table {
    border: solid;
    height: 75vh;
    width: 95vw;
}

thead {
    color: black;
    border: solid;
}

tr {
    border: solid;
}

td {
    border: solid;
}

th {
    border: solid;
}

body {
    background: linear-gradient(90deg, #c0d7d2,hsl(169, 23%, 98%));
}