main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 65dvh;
    min-width: 100dvw;
}

.userFormViewPort {
    /* min-width: 450px; */
    width: 40%;
    height: fit-content;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 15px;
}

.formContainer {
    width: 100%;
    position: relative;
    height: 600px;
}

.formContainer form {
    width: 100%;
    /* min-width: 450px; */
    position: absolute;
    transition: .5s all ease-in-out;
}

.formInscription {
    top: 0;
    left: 0;
}

.formConnexion {
    top: 0;
    left: 110%;
}

body {
    background: linear-gradient(90deg, #c0d7d2,hsl(169, 23%, 98%));
}

@media screen and (max-width:780px) {
    footer {
        margin-top: 0vh !important;
    }

    .userFormViewPort {
        width: 90%;
    }
}