{% extends "layout.html.twig" %}
{% block stylesheet %}
<link rel="stylesheet" href="{{ assets('/assets/css/home.css') }}" />
{% endblock %}
{% block body %}
<p>Bienvenue, {{ user.nom }} {{ user.prenom }}</p>
{% endblock %}