{% extends 'layout.html.twig' %}
{% block title %}
<title>Contact</title>
{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{{ assets('/assets/css/home.css') }}" />
<link rel="stylesheet" href="{{ assets('/assets/css/contact.css') }}" />
{% endblock %}

{% block scripts %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block body %}
<div class="bloc container text-center my-2 d-flex flex-column align-items-center">
    <h2 class="text-center my-3 border rounded-4 bg-white px-5">Nous contacter</h2>

    <form action="mailto:mozart@epi.fr" method="post" class="card p-5">

        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">E-mail</span>
            <input type="email" name="role" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm">
        </div>

        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Sujet</span>
            <input type="text" name="role" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm">
        </div>

        <div class="input-group input-group-sm mb-3 form-floating">
            <span class="input-group-text" id="inputGroup-sizing-sm">Saisir votre message :</span>
            <textarea class="form-control" name="description" placeholder="Leave a comment here"
                id="floatingTextarea"></textarea>
        </div>

        {# CAPTCHA #}
        <div class="g-recaptcha" data-sitekey="6LfNM_4kAAAAAGIXgFgCgSVpCwsZlB9PHw28zJdj"></div>

        <input type="submit" value="Envoyer" class="border border-warning rounded-4 bg-warning my-3">

    </form>
</div>
{% endblock %}