{% extends 'layout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ assets('assets/css/dons.css') }}">
<link rel="stylesheet" href="{{ assets('assets/css/home.css') }}">
{% endblock %}

{% block body %}

<div class="bloc container text-center d-flex flex-column justify-content-evenly my-3 bg-white">
    <h1>Comment faire un don à l'épicerie ?</h1>
    <p class="fs-2">Malheureusement l'épicerie n'accepte aucun don financier en ligne, pour faire un don financier
        ou matériel, merci de vous présenter directement à l'accueil de l'épicerie durant ses heures
        d'ouvertures. Pour devenir bénévole de l'association afin d'organiser des activités 
        veuillez contacter le responsable par E-mail ou directement à l'épicerie
    </p>
</div>

{% endblock %}