{% extends 'layout.html.twig' %}
{% block title %}
<title>Dons</title>
{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{{ assets('assets/css/dons.css') }}">
<link rel="stylesheet" href="{{ assets('assets/css/home.css') }}">
{% endblock %}

{% block body %}

<h2 class="text-center mx-auto border rounded bg-white mb-4 py-2">Pourquoi faire un don à l'épicerie ?</h2>

<div class="container mx-auto d-flex">
    <div class="row g-0 mb-4">
        <div class="col-sm-6">
            <img src="{{ absolute(assets('assets/img/ukraine-aide-humanitaire.jpg')) }}"
                alt="img-fluid image d'aide humanitaire" class="img-fluid">
        </div>

        <div class="col-sm-6 bg-white text-center d-flex flex-column justify-content-evenly fs-5">
            <p class="px-3">Ensemble, faisons la différence en soutenant une épicerie solidaire.
            <p class="px-3">Votre
                don
                contribuera à aider des
                familles dans le besoin à accéder à des aliments sains et nutritifs.</p>
            <p class="px-3">Faites un geste concret aujourd'hui
                pour apporter de l'aide et de l'espoir à ceux qui en ont besoin.</p>
            <p class="px-3"> Chaque contribution compte et
                peut
                faire
                une grande différence dans la vie de nos voisins dans le besoin.</p>

                <a href="https://www.helloasso.com/associations"><img src="{{ absolute(assets('assets/img/6144.jpg')) }}" id="dons" height="200px" width="200px" alt="image don"></a>
        </div>
    </div>
</div>
{% endblock %}