{% extends 'layout.html.twig' %}
{% block title %}
<title>Accueil</title>
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ assets('assets/css/home.css') }}">
{% endblock %}
{% block body %}

<div class="test container-fluid">

  <div class="bloc1 row text-center">
    <div class="col-sm-1"></div>

    <div class="welcome-pic col-sm-5 px-3 d-flex align-items-center justify-content-center rounded-4">
      <p class="welcome-text fs-2 rounded-3 px-5">Bienvenue à l'épicerie Mozart</p>
    </div>

    <div class="col-sm-1"></div>

    <div class="col-sm-4 d-flex justify-content-around flex-column">
      <p class="bloc-actu fs-3 rounded border bg-white align-self-center">Nos activités</p>
      <div class="link-cuisine fs-2 rounded-4 d-flex justify-content-center">
        <p class="align-self-end mb-3"><a href="{{ path('events') }}"
            class="text-activity text-decoration-none text-black">Atelier
            Cuisine</a></p>
      </div>
      <div class="link-coiffure mt-3 fs-2 rounded-4 d-flex justify-content-center">
        <p class="align-self-end mb-3"><a href="{{ path('events') }}"
            class="text-activity text-decoration-none text-black">Atelier
            Coiffure</a></p>
      </div>
      <div class="link-doc fs-2 mt-3 rounded-4 d-flex justify-content-center">
        <p class="align-self-end mb-3"><a href="{{ path('events') }}"
            class="text-activity text-decoration-none text-black">Rendez-vous
            médicaux</a></p>
      </div>
    </div>

    <div class="col-sm-1"></div>

  </div>
</div>

{# Ici commence la deuxième partie du site #}
<div class="index-bottom-bloc container-fluid">
  <div class="row text-center">
    <div class="col-1"></div>

    <div class="bloc-aside-sec col-sm-4 d-flex justify-content-around align-items-center flex-column">

      <div class="bloc-actu fs-3 rounded border bg-white align-self-center">Nos actualités</div>
      <div class="linkedin-link rounded-3 bg-white py-2 mt-3 border w-50"><a
          href="https://fr.linkedin.com/in/isabelle-mahler-26453910b" target="_blank"
          class=" text-decoration-none text-dark">Suivez-nous sur Linkedin <i
            class="fa-brands fa-linkedin fa-2xl"></i></a></div>
      <div class="facebook-link rounded-3 bg-white py-2 mt-3 border w-50"><a
          href="https://www.facebook.com/epiceriesolidairemozart/" target="_blank"
          class=" text-decoration-none text-dark">Suivez-nous sur Facebook <i
            class="fa-brands fa-facebook fa-2xl"></i></a></div>
      <p class="bloc-actu fs-3 rounded border bg-white align-self-center my-3">Nos derniers ateliers</p>

      {# Ici commence le carousel #}
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner rounded-4">
          <div class="carousel-item active">
            <img src="/assets/img/gros-plan-cuisine-du-chef-dans-cuisine-du-restaurant.jpg" class="img-fluid"
              alt="carousel-picture image des derniers ateliers qui défilent dans un carousel">
          </div>
          <div class="carousel-item">
            <img src="/assets/img/gros-plan-fille-mere-preparer-pate.jpg" class="img-fluid" alt="carousel-picture image des derniers ateliers qui défilent dans un carousel">
          </div>
          <div class="carousel-item">
            <img src="/assets/img/spaghetti-g65abc0b04_1920.jpg" class="img-fluid" alt="carousel-picture image des derniers ateliers qui défilent dans un carousel">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <div class="col-1"></div>

    <div class="bloc2 col-sm-5 px-3 d-flex align-items-center justify-content-center rounded-4">
      <p class="welcome-text2 fs-2 px-3 rounded-3">Venez découvrir nos produits et nos
        activités</p>
    </div>
    <div class="col-1"></div>
  </div>
</div>

{% endblock %}