{% extends 'layout.html.twig' %}
{% block title %}
<title>Qui sommes-nous ?</title>
{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{{ assets('assets/css/quiSommes.css') }}">
<link rel="stylesheet" href="{{ assets('assets/css/home.css') }}">
{% endblock %}

{% block body %}

<h2 class="text-center mx-auto border rounded-4 bg-white">Qui sommes-nous ?</h2>

<div class="bloc container mt-4 mb-4">
    <div class="row g-0">

        <div class="col-sm-6">
            <img src="{{ absolute(assets('assets/img/femme-tablette-acheter-aliments-sains-dans-epicerie-supermarche.jpg')) }}"
                class="img-fluid" alt="image-quiSommes">
        </div>
        <div class="col-sm-6 bg-white text-center d-flex flex-column justify-content-evenly fs-5" id="toto">
            <p class="px-3">L'épicerie solidaire Mozart se présente comme une épicerie
                classique de proximité. Elle propose une aide alimentaire qui allie
                choix, fraîcheur, qualité et respect du goût, des cultures et des
                habitudes.</p>

            <p class="px-3">L'épicerie est ouverte depuis le 15 janvier 2016, elle est destinée
                aux jeunes travailleurs précaires et aux parents isolés avec enfants.</p>

            <p class="px-3">Nous vous proposons de vous inscrire sur notre site afin de
                participer aux différentes activités de l'épicerie telles que
                des ateliers coiffure, des ateliers cuisine ainsi que la prise de rendez-vous avec
                le docteur lors de ses visites.</p>
        </div>

    </div>
</div>
</div>
{% endblock %}